Localization
{
	RSSROConfig = true
	ru
	{
	// Bulkhead Names
	#LOC_VABOrganizer_RP1_Bulkhead_usa = США
	#LOC_VABOrganizer_RP1_Bulkhead_ussr = СССР
	#LOC_VABOrganizer_RP1_Bulkhead_europe = Европа
	#LOC_VABOrganizer_RP1_Bulkhead_asia = Азия
	#LOC_VABOrganizer_RP1_Bulkhead_generic = Общее 

	// Subcategory names
    // ---------------

    // Aero
	#LOC_VABOrganizer_RP1_Subcategory_procWings =  Процедурные крылья

    // Cargo 

    // Command
    
    // Comms
	#LOC_VABOrganizer_RP1_Subcategory_omni = Коммунотроны 
	#LOC_VABOrganizer_RP1_Subcategory_directional = Ретрансляторы


    // Control
	#LOC_VABOrganizer_RP1_Subcategory_valve = Топливный клапан
	#LOC_VABOrganizer_RP1_Subcategory_rcs_28 = РСУ - 28/69
	#LOC_VABOrganizer_RP1_Subcategory_rcs_69 = РСУ - 69/111
	#LOC_VABOrganizer_RP1_Subcategory_rcs_138 = РСУ - 138/223
	#LOC_VABOrganizer_RP1_Subcategory_rcs_275 = РСУ - 275/445
	#LOC_VABOrganizer_RP1_Subcategory_rcs_413 = РСУ - 413/668
	#LOC_VABOrganizer_RP1_Subcategory_rcs_550 = РСУ - 550/890
	#LOC_VABOrganizer_RP1_Subcategory_smartparts = Маленькие детали
	// Coupling


    // Electrical

    // Engines
	#LOC_VABOrganizer_RP1_Subcategory_tinysolids = Маленькие ТРД
	#LOC_VABOrganizer_RP1_Subcategory_smallsolids = Малые ТРД 
	#LOC_VABOrganizer_RP1_Subcategory_mediumsolids = Средние ТРД
	#LOC_VABOrganizer_RP1_Subcategory_largesolids = Большие ТРД
	#LOC_VABOrganizer_RP1_Subcategory_giantsolids = Супер Большие ТРД
	
	#LOC_VABOrganizer_RP1_Subcategory_earlyrocketry = Раннее ракетостроение
	#LOC_VABOrganizer_RP1_Subcategory_firststage =  Двигатели наземного зажигания
	#LOC_VABOrganizer_RP1_Subcategory_orbitalrocketry_multi = ЖРД одиночного зажигания
	#LOC_VABOrganizer_RP1_Subcategory_orbitalrocketry = ЖРД множественного зажигания
	#LOC_VABOrganizer_RP1_Subcategory_orsc = ЖРДЗЦ с дожиганием окислительного газа
	#LOC_VABOrganizer_RP1_Subcategory_hydrolox = ЖРД на паре кислород-водород
	#LOC_VABOrganizer_RP1_Subcategory_frsc = ЖРДPЗЦ с дожиганием восстановительного газа
	#LOC_VABOrganizer_RP1_Subcategory_thruster = Маневровые Двигатели

    // Fuel
	#LOC_VABOrganizer_RP1_Subcategory_coventionalTanks = Обычные баки
	#LOC_VABOrganizer_RP1_Subcategory_isogridTanks = Изогридные баки
	#LOC_VABOrganizer_RP1_Subcategory_ballonTanks = Баллоные баки
	#LOC_VABOrganizer_RP1_Subcategory_serviceTanks = Сервисные баки
	#LOC_VABOrganizer_RP1_Subcategory_shieldedTanks = Экранированные баки

    // Ground
	#LOC_VABOrganizer_Subcategory_airbags = Воздушная подушка

	// Payload
	#LOC_VABOrganizer_RP1_Subcategory_fairing = Обтекатели полезной нагрузки
	#LOC_VABOrganizer_RP1_Subcategory_interstage = Межступенчатые обтекатели
	#LOC_VABOrganizer_RP1_Subcategory_boattail = Хвостовые обтекатели

    // Robotics


    // Science
	#LOC_VABOrganizer_RP1_Subcategory_returnScience = Эксперименты с возвратом образцов
    #LOC_VABOrganizer_RP1_Subcategory_transmitScience = Эксперименты передачей данных
	
	// Structural
	#LOC_VABOrganizer_RP1_Subcategory_decal = Декоративные элементы
	#LOC_VABOrganizer_RP1_Subcategory_clamp = Пусковые зажимы
    
    // Thermal


	// Utility
	#LOC_VABOrganizer_RP1_Subcategory_cameras = Камеры

	}
}